img {

    /* Changes the cursor to signify that this is a clickable image. */
    cursor: pointer;

    /* Restrain image size to webpage dimensions. */
    max-width: 100%; 
    max-height: 100%;

    /* Prevent context menu from opening on iOS devices. */
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;

    /* Additional select prevention handling. */
    -ms-user-select: none;      /* For IE 10 and IE 11. */
    user-select: none;          /* Standard syntax. */
    
}

body {

    /* Prevent scrolling. */
    overflow: hidden;

    /* Set the webpage's background color. */
    background-color: orange;

    /* Attempt to vertically and horizontally center the image. */
    display: flex;
    height: 100vh;              /* Maximize viewport height. */
    justify-content: center;    /* Horizontally centers. */
    align-items: center;        /* Helps scale image height properly. */
    
}

.petsCounterDisplay {

    /* Nicer font. */
    font-family: Arial, Helvetica, sans-serif;

    /* Color the text white. */
    color: white;

    /* Allows the text to be positioned over the image. */
    position: absolute;

    /* Anchor to bottom of the webpage. */
    bottom: 2%;

    /* Center text. */
    text-align: center;
}